html,
body {
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;

  color: #ffffff;
  background: #000000 url("../img/barbershop_bg.jpg") no-repeat center top;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  margin-bottom:60px;
  color: #ffffff;
  background-color: #000000;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.container {
  width:940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #242424;
}

.main-navigation .logo-inner {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
}

.main-navigation .logo-inner img{
  width: 111px;
  height: 24px;
}

.main-navigation .logo-inner:hover {
  background: none;
}

.main-navigation .active a:hover {
  background: none;
}

.main-navigation .active {
  position: relative;

  background-color: none;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  right:20px;
  left:20px;
  background-color: #ffffff;
}

.main-navigation .active span {
  display: block;
  padding: 25px 20px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.user-block {
  float: right;
  max-width: 140px;
  min-height: 70px;
}

.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;

  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 28px;
  left: 20px;

  background: transparent url("../img/sprite_v.png") no-repeat;
  background-position: -1px 0px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.inner-page {
  color: #000000;
  background: #f8f3f0 url("../img/white_bg.jpg") repeat;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}


.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;

  font-size: 30px;
  line-height: 42px;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  margin-left: -10px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  transform: rotate(45deg);
}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
  color: #000000;
  background: url("../img/separator.png") no-repeat center,
  #f8f5f2 url("../img/white_bg.jpg");
}

.index-content-left {
  width: 380px;
  float:left;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview time {
  text-transform: none;
}

.btn {
  display: inline-block;
  padding: 10px 33px;
  margin-right: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}


.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

/*----------inner pages----------*/

.inner-page-title {
  margin-bottom: 55px;
}

.inner-page-title h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 18px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.breadcrumbs .current::after {
  display: none;
}

/*----------inner content----------*/

.inner-content {
  margin-bottom: 75px;
}

.inner-content h2 {
  font-size: 24px;
  line-height: 30px;
}

.inner-content table {
  border-collapse: collapse;
}

.inner-content td {
  padding: 10px 15px;

  border: 2px solid #000000;
}

/*----------custom----------*/

.big-heading {
  margin-top: 55px;
  margin-bottom: 65px;
  text-align: center;
}

.big-heading h2 {
  position: relative;
  z-index: 2;

  display: inline;
  margin: 0;
  padding: 0 25px;

  font-size: 48px;
  line-height: 48px;
  text-align: center;

  background: #f8f3f0 url("../img/pattern-white.jpg") repeat;
}

.big-heading::after {
  content: "";
  position: relative;
  top: -25px;
  z-index: 1;

  display: block;

  border-bottom: 2px solid #000000;
}

.custom-list-1 {
  margin: 14px 0;
  padding: 0;

  list-style: none;
}

.custom-list-1 li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list-1 li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.prices-table {
  width: 100%;
}

.prices-table td {
  width: 50%;
}

.prices-table td:last-child {
  text-align: center;
}

.short-text {
  padding-right: 80px;
}

/*----------inner columns----------*/

.inner-columns {
  margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
  width: 460px;
}

.inner-column-left {
  float: left;
}

.inner-column-right {
  float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
  margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
  margin-bottom: 0;
}

/*----------item page----------*/

.item-vendor-code {
  color: #aeaeae;
  float:right;
}

.item-in-stock {
  float:left;
}

.item-description {
  clear:both;
}

.available {
  margin-top:20px;
}

.item-description {
  margin-top:74px;
}

.price-section {
  padding-bottom:44px;
  padding-top:20px;

}

.item-content-right h2 {
  padding-bottom:5px;
}


.item-set {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-set li {
  position: relative;
  padding-left: 20px;
}

.item-set li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.product-price {
  display: inline-block;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #e5e5e5;
  border: none;
  outline: none;
  cursor: default
}

.item-price-section{
  background-color:#ffffff;
  min-height:114px;
}

.item-price-section .name {
  margin-left:16px;
  padding-top:6px;
  margin-bottom:12px;

  font-size:14px;
  line-height:18px;
  text-transform:none;

  overflow: hidden;
  text-overflow: ellipsis;
  height:36px;
}

.item-price-section .price {
  margin-left: 16px;
}

.item-price-section .product-price {
  float:left;
}

.item-content-left {
  width:460px;
  float:left;
}

.item-content-right {
  width:390px;
  float:right;
}

.product-large {
  width:460px;
  height:498px;
  box-shadow: 0 0 10px 2px #c4c2c2;
}

.product-thumbnail {
  width:460px;
  margin-top: 25px;
}

.product-image-thumbnail:last-child {
  margin-right: 0;
}
.product-image-thumbnail {
  display:inline-block;
  margin-right:15px;
  box-shadow: 0 0 10px 2px #c4c2c2;
}

.price-section .button {
  display: inline-block;
  padding: 10px 18px;
  margin-right: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

/*----------catalog----------*/

.shop-content-left{
  float: left;
  width:220px;
}

.shop-content-right {
  float:right;
  width:700px;
  font-size:0px;
}

/*----------checkbox----------*/



.shop-content-left input[type="checkbox"] {
  display: none;
}

.shop-content-left input[type="checkbox"] + label span {
  position: absolute;
  display: block;
  margin-bottom: 20px;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;

  border: 2px solid #000000;
}

.shop-content-left input[type="checkbox"]:checked + label span::before,
.shop-content-left input[type="checkbox"]:checked + label span::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.shop-content-left input[type="checkbox"]:checked + label span::before {
  transform: rotate(45deg);
}

.shop-content-left input[type="checkbox"]:checked + label span::after {
  transform: rotate(-45deg);
}


.shop-content-left input[type="checkbox"] + label:hover {
  color: #663d15;
  cursor:pointer;
}

/*----------radio----------*/

.shop-content-left input[type="radio"] {
  display: none;
}

.shop-content-left input[type="radio"] + label span{
  cursor: pointer;
}

.shop-content-left input[type="radio"] + label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;

  border: 2px solid #000000;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;

}

.shop-content-left input[type="radio"]:checked + label span::before,
.shop-content-left input[type="radio"]:checked + label span::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  width: 10px;
  height: 10px;

  background-color: #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.shop-content-left input[type="radio"]:checked + label span::before {
  transform: rotate(45deg);
}

.shop-content-left input[type="radio"]:checked + label span::after {
  transform: rotate(-45deg);
}

.shop-content-left input[type="radio"] + label:hover {
  color: #663d15;
  cursor:pointer;
}

/*----------disabled----------*/

.shop-content-left input[type="checkbox"]:disabled + label span {
  position: absolute;
  top: 0;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #adaba9;
}

.shop-content-left input[type="checkbox"]:disabled + label span::before,
.shop-content-left input[type="checkbox"]:disabled + label span::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #adaba9;
}

.shop-content-left input[type="checkbox"]:disabled + label span::before {
  transform: rotate(45deg);
}

.shop-content-left input[type="checkbox"]:disabled + label span::after {
  transform: rotate(-45deg);
}

.shop-content-left input[type="checkbox"]:disabled + label::after {
color:red;
}


.shop-content-left  .btn{
  display:block;
  margin-top:40px;
}

.shop-content-left  label {
  position:relative;
  padding-left:38px;
}

.shop-content-right img{
  width:220px;
  height:165px;
}

.shop-content-left legend {
  font-size: 24px;
  margin-bottom:12px;
}

.shop-content-left fieldset {
  border:none;
  margin-bottom:18px;
}

.shop-content-left .manufacturer {
  border:none;
  margin-bottom:14px;
  margin-top: -2px;
}

.item {
  display:inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 14px;

  box-shadow: 0 0 10px 2px #c4c2c2;
  background-color:#ffffff;
}

.item:nth-child(3n) {
  margin-right: 0;
}

.item:hover {
  box-shadow: 0 0 20px 2px #c4c2c2;
}

img {
  max-width: 100%;
  height: auto;
}

 .item-price-section .button {
  display: inline-block;
  padding: 10px 18px;
  margin-right: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

 .button:hover,
 .button:active {
  background-color: #663d15;
}

 .button:hover,
 .button:active {
  background-color: #663d15;
}

/*----------pagination----------*/

.pagination {
  margin-top:30px;
  width: 220px;
  white-space: nowrap;
}

.pagination a{
  display:inline-block;
  font-size: 14px;
  min-width: 23px;
  margin-right:10px;
  height: 43px;
  padding: 0 10px;
  line-height: 40px;
  color: white;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  background: black;
}

.pagination .now{
  background:white;
  color:black;
}

.pagination a:hover{
  background:#663d15;
}

.pagination a.now:hover {
  background-color: #fff;
}

/*----------footer----------*/

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/pattern-black.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
  text-align: center;
}

.footer-copyright {
  float: right;
  min-height: 90px;
  max-width: 180px;
}

.social-btn {
  display: inline-block;
  margin: 0 2px;

  width: 43px;
  height: 43px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

   transition:
    background-position 0.3s,
    background-color 0.3s;

  background: #000000 url("../img/sprite_v.png") no-repeat center;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background-position: -122px 14px;
}

.social-btn-fb {
  background-position: -23px 11px;
}

.social-btn-inst {

  background-position: -70px 12px;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk:hover {
  background-position: -126px -30px;
}

.social-btn-fb:hover {
  background-position: -22px -34px;
}

.social-btn-inst:hover {
  background-position: -70px -34px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}

/* ----------Всплывающая форма---------- */

.modal-content {
  position: absolute;
  top: 120px;
  left: 50%;
  display: none;
  
  margin-left: -230px;
  width: 300px;
  padding: 50px 80px;

  color: #000000;

  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  background: #f8f3f0 url("../img/white_bg.jpg");
}

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;

  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;

  background: #e9e5dc url("../img/map.png");
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background-image: url("../img/user.png");
  background-repeat: no-repeat;
  background-position: 270px 15px;
}

.login-form input.icon-password {
  background-image: url("../img/locked.png");
  background-repeat: no-repeat;
  background-position: 270px 15px;
}

.login-form .restore {
  float: right;

  color: #000000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}
